/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run gongyh/nf-core-scgs -profile test
 */

params {
  // Limit resources so that this can run on Travis and CircleCI
  max_cpus = 2
  max_memory = 4.GB
  max_time = 1.h
  singleEnd = false
  genus = "Escherichia"
  saveTrimmed = false
  saveAlignedIntermediates = false
  blockSize = 0.8
  ass = true
}

executor {
  $local {
    cpus = 2
    queueSize = 2
    memory = 4.GB
  }
}

process {

  cpus = 1
  memory = 1.GB
  time = 1.h

  maxRetries = 0
  maxErrors = '-1'

  // Environment modules and resource requirements
  withName: TRIMGALORE {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: KRAKEN {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: BOWTIE2_ALIGN {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: MINIMAP2_ALIGN {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: SAMTOOLS {
    cpus = 1
    memory = 1.5.GB
    time = 1.h
  }
  withName: INDELREALIGN {
    cpus = 2
    memory = 3.5.GB
    time = 1.h
  }
  withName: MONOVAR {
    cpus = 1
    memory = 3.GB
    time = 1.h
  }
  withName: ANEUFINDER {
    cpus = 1
    memory = 3.GB
    time = 1.h
  }
  //  withName: NORMALIZE {
  //    cpus = 2
  //    memory = 3.GB
  //    time = 1.h
  //  }
  withName: BBNORM {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: SPADES {
    maxForks = 1
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: CANU {
    maxForks = 1
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: BLASTN {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: DIAMOND_BLASTX {
    cpus = 1
    memory = 3.GB
    time = 1.h
  }
  withName: CHECKM_LINEAGEWF {
    cpus = 1
    memory = 1.5.GB
    time = 1.h
  }
  withName: CHECKM2 {
    cpus = 1
    memory = 1.5.GB
    time = 1.h
  }
  withName: QUAST_REF {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: QUAST_DENOVO {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: PROKKA {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: EGGNOG {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: STARAMR {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: GET_SOFTWARE_VERSIONS {
    memory = 1.GB
    errorStrategy = 'ignore'
  }
  withName: MULTIQC {
    memory = 1.5.GB
  }
}
