/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run gongyh/nf-core-scgs -profile test
 */

params {
  // Limit resources so that this can run on Travis and CircleCI
  max_cpus = 16
  max_memory = 48.GB
  max_time = 1.h
  // Input data
  singleEnd = false
  readPaths = [
    ['E1', ["$baseDir/test-datasets/E1.1.fastq.gz", "$baseDir/test-datasets/E1.2.fastq.gz"]],
    ['E2', ["$baseDir/test-datasets/E2.1.fastq.gz", "$baseDir/test-datasets/E2.2.fastq.gz"]],
    ['E3', ["$baseDir/test-datasets/E3.1.fastq.gz", "$baseDir/test-datasets/E3.2.fastq.gz"]]
  ]
  fasta = "$baseDir/test-datasets/ATCC25922.fa"
  gff = "$baseDir/test-datasets/ATCC25922.gff"
  genus = "Escherichia"
  saveTrimmed = false
  saveAlignedIntermediates = false
  blockSize = 2
  ass = true
}

executor {
  $local {
    cpus = 16
    queueSize = 8
    memory = 48.GB
  }
}

process {

  cpus = 2
  memory = 2.GB
  time = 1.h

  maxRetries = 0
  maxErrors = '-1'

  // Environment modules and resource requirements
  withName: TRIMGALORE {
    cpus = 16
    memory = 16.GB
    time = 1.h
  }
  withName: KRAKEN {
    cpus = 16
    memory = 16.GB
    time = 1.h
  }
  withName: BOWTIE2_ALIGN {
    cpus = 16
    memory = 16.GB
    time = 1.h
  }
  withName: MINIMAP2_ALIGN {
    cpus = 16
    memory = 16.GB
    time = 1.h
  }
  withName: SAMTOOLS {
    cpus = 4
    memory = 8.GB
    time = 1.h
  }
  withName: INDELREALIGN {
    cpus = 8
    memory = 8.GB
    time = 1.h
  }
  withName: MONOVAR {
    cpus = 16
    memory = 16.GB
    time = 1.h
  }
  withName: ANEUFINDER {
    cpus = 2
    memory = 16.GB
    time = 1.h
  }
  withName: NORMALIZE {
    cpus = 4
    memory = 16.GB
    time = 1.h
  }
  withName: SPADES {
    maxForks = 1
    cpus = 16
    memory = 32.GB
    time = 1.h
  }
  withName: CANU {
    maxForks = 1
    cpus = 16
    memory = 32.GB
    time = 1.h
  }
  withName: BLASTN {
    cpus = 16
    memory = 32.GB
    time = 1.h
  }
  withName: DIAMOND_BLASTX {
    cpus = 16
    memory = 42.GB
    time = 1.h
  }
  withName: CHECKM_LINEAGEWF {
    cpus = 8
    memory = 16.GB
    time = 1.h
  }
  withName: CHECKM2 {
    cpus = 8
    memory = 16.GB
    time = 1.h
  }
  withName: QUAST_REF {
    cpus = 8
    memory = 16.GB
    time = 1.h
  }
  withName: QUAST_DENOVO {
    cpus = 8
    memory = 16.GB
    time = 1.h
  }
  withName: PROKKA {
    cpus = 16
    memory = 16.GB
    time = 1.h
  }
  withName: EGGNOG {
    cpus = 16
    memory = 16.GB
    time = 1.h
  }
  withName: STARAMR {
    cpus = 8
    memory = 16.GB
    time = 1.h
  }
  withName: GRAPHBIN {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: GET_SOFTWARE_VERSIONS {
    memory = 1.GB
    errorStrategy = 'ignore'
  }
  withName: MULTIQC {
    memory = 6.GB
  }
}
