/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run gongyh/nf-core-scgs -profile test
 */

params {
  // Limit resources so that this can run on Travis and CircleCI
  max_cpus = 4
  max_memory = 14.GB
  max_time = 1.h
  // Input data
  singleEnd = false
  readPaths = [
    ['E1', ["$baseDir/test-datasets/E1.1.fastq.gz", "$baseDir/test-datasets/E1.2.fastq.gz"]],
    ['E2', ["$baseDir/test-datasets/E2.1.fastq.gz", "$baseDir/test-datasets/E2.2.fastq.gz"]]
  ]
  fasta = "$baseDir/test-datasets/ATCC25922.fa"
  gff = "$baseDir/test-datasets/ATCC25922.gff"
  genus = "Escherichia"
  saveTrimmed = false
  saveAlignedIntermediates = false
  blockSize = 0.8
  ass = true
}

executor {
  $local {
    cpus = 4
    queueSize = 2
    memory = 14.GB
  }
}

process {

  cpus = 1
  memory = 1.GB
  time = 1.h

  maxRetries = 0
  maxErrors = '-1'

  // Environment modules and resource requirements
  withName: TRIMGALORE {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: KRAKEN {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: BOWTIE2_ALIGN {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: MINIMAP2_ALIGN {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: SAMTOOLS {
    cpus = 1
    memory = 1.5.GB
    time = 1.h
  }
  withName: INDELREALIGN {
    cpus = 1
    memory = 1.5.GB
    time = 1.h
  }
  withName: MONOVAR {
    cpus = 1
    memory = 3.GB
    time = 1.h
  }
  withName: ANEUFINDER {
    cpus = 1
    memory = 3.GB
    time = 1.h
  }
  withName: NORMALIZE {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: SPADES {
    maxForks = 1
    cpus = 4
    memory = 12.GB
    time = 1.h
  }
  withName: CANU {
    maxForks = 1
    cpus = 4
    memory = 12.GB
    time = 1.h
  }
  withName: BLASTN {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: DIAMOND_BLASTX {
    cpus = 1
    memory = 3.GB
    time = 1.h
  }
  withName: CHECKM_LINEAGEWF {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withLabel: QUAST {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: PROKKA {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: EGGNOG {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: RESFINDER {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: POINTFINDER {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: GET_SOFTWARE_VERSIONS {
    memory = 1.GB
    errorStrategy = 'ignore'
  }
  withLabel: MULTIQC {
    memory = 1.5.GB
  }
}
