/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run gongyh/nf-core-scgs -profile test
 */

params {
  // Limit resources so that this can run on Travis and CircleCI
  max_cpus = 2
  max_memory = 4.GB
  max_time = 1.h
  // Input data
  singleEnd = false
  readPaths = [
    ['E1', ["$baseDir/test-datasets/E1.1.fastq.gz", "$baseDir/test-datasets/E1.2.fastq.gz"]],
    ['E2', ["$baseDir/test-datasets/E2.1.fastq.gz", "$baseDir/test-datasets/E2.2.fastq.gz"]],
    ['E3', ["$baseDir/test-datasets/E3.1.fastq.gz", "$baseDir/test-datasets/E3.2.fastq.gz"]]
  ]
  fasta = "$baseDir/test-datasets/ATCC25922.fasta"
  gff = "$baseDir/test-datasets/ATCC25922.gff"
  genus = "Escherichia"
  saveTrimmed = false
  saveAlignedIntermediates = false
}

process {

  cpus = 1
  memory = 1.GB
  time = 1.h

  maxRetries = 0
  maxErrors = '-1'

  // Environment modules and resource requirements
  withName: trim_galore {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: kraken {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: bowtie2 {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: samtools {
    cpus = 1
    memory = 1.5.GB
    time = 1.h
  }
  withName: IndelRealign { 
    cpus = 1
    memory = 1.5.GB
    time = 1.h
  }
  withName: monovar {
    cpus = 1
    memory = 3.GB
    time = 1.h
  }
  withName: aneufinder {
    cpus = 1
    memory = 3.GB
    time = 1.h
  }
  withName: spades {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: blast_nt {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: checkm {
    cpus = 1
    memory = 1.5.GB
    time = 1.h
  }
  withName: quast_ref {
    cpus = 2
    memory = 3.GB
    time = 1.h
  }
  withName: get_software_versions {
    memory = 1.GB
    errorStrategy = 'ignore'
  }
  withName: multiqc_ref {
    memory = 1.5.GB
  }
}
